.mainh1,
.frontpara {
  text-align: center;
}
.frontpara {
  font-size: 20px;
}
.timercountdown {
  float: right;
}

.startquiz {
  background-color: aqua;
}
.startdiv {
  position: relative;
  text-align: center;
}
.highscore-atag {
  text-decoration: none;
}
.highscore {
  color: red;
}
#quiz,
#inputScore,
#highScores {
  display: none;
}
