.mainh1,
.frontpara {
  text-align: center;
}
.frontpara {
  font-size: 20px;
}
.timercountdown {
  float: right;
}

.startquiz {
  background-color: aqua;
}
.startdiv {
  position: relative;
  text-align: center;
}
.highscore-atag {
  text-decoration: none;
}
.highscore {
  color: red;
  font-size: 20px;
}

#inputScore,
#highScores {
  display: none;
}

.hide {
  display: none;
}
.answerDiv {
  text-align: center;
  margin-top: 50px;
}

.h1 {
  text-align: center;
  margin-top: 100px;
}

.btn0,
.btn1,
.btn2,
.btn3 {
  margin: auto;
  position: relative;
  width: 200px;
  height: 30px;
  background: aqua;
}
